<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Пойми геометрию</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <header>
    <div class="listing-background">
      <div class="container">
        <div class="heading-block">
          <div class="heading">Пойми</div>
          <div class="heading">геометрию</div>
          <div class="sub-heading">Как язык мира</div>
        </div>
        <div class="buttons-block">
          <a href="#solution" class="button-header">Решить</a>
          <a href="#study" class="button-header">Изучить</a>
        </div>
      </div>
    </div>
  </header>
  <section class="study" id="study">
    <div class="study-heading">Начни изучать уже сейчас</div>
    <div class="line"></div>
    <div class="container">
      <div class="study-block">
      <div class="study-block-item">
         <svg width="180" height="180" viewBox="0 0 150.7 150.7">
          <path d="M0,0V150.7H150.7V0H0ZM145.9,145.9H4.7V4.7H145.89999999999998V145.9Z" fill="#124788"></path>
        </svg>
        <div class="study-block-item-heading">Прямоугольники</div>
        <div class="study-block-item-body">Что-то про описание. Много слов чтобы посмотреть как это выглядит. Столько то глав.</div>
        <a href="#solution" class="study-block-item-btn">Решить</a>
      </div>
      <div class="study-block-item">
        <svg width="180" height="180" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 500 433" enable-background="new 0 0 500 433" xml:space="preserve" style="fill: rgb(0, 0, 0);">
          <path d="M500,433H0L250,0L500,433z M23.1,419.7h453.8L250,26.7L23.1,419.7z" fill="#124788"></path>
        </svg>
        <div class="study-block-item-heading">Треугольники</div>
        <div class="study-block-item-body">Тут тоже текст про всякие формулы и как круто будет проходить этот курс. Не знаю что сюда еще..</div>
        <a href="#solution" class="study-block-item-btn">Решить</a>
      </div>
      <div class="study-block-item">
        <svg width="180" height="180" viewBox="0 0 500.4 500.4">
          <path d="M250.2,500.4c-66.8,0 -129.7,-26 -176.9,-73.3C26,379.9 0,317 0,250.2s26,-129.7 73.3,-176.9C120.5,26 183.39999999999998,0 250.2,0s129.7,26 176.9,73.3c47.3,47.3 73.3,110.1 73.3,176.9s-26,129.7 -73.3,176.9c-47.2,47.3 -110.1,73.3 -176.9,73.3Zm0,-485.4c-62.8,0 -121.9,24.5 -166.3,68.9S15,187.39999999999998 15,250.2s24.5,121.9 68.9,166.3 103.5,68.9 166.3,68.9 121.9,-24.5 166.3,-68.9 68.9,-103.5 68.9,-166.3 -24.5,-121.9 -68.9,-166.3S313,15 250.2,15Z" fill="#124788"></path>
        </svg>
        <div class="study-block-item-heading">Окружности</div>
        <div class="study-block-item-body">Описание этого крутого курса. Может быть тут даже будут какие-то формулы, если вы не умрете.</div>
        <a href="#solution" class="study-block-item-btn">Решить</a>
      </div>
    </div>
    </div>
  </section>
  <section class="solution" id="solution">
    <div class="study-heading">Подробное решение задачи</div>
    <div class="line"></div>
    <div class="container">
      <div class="solution-block">
      <div class="input-text">
        <div class="example">
          <img class="info" src="https://media-private.canva.com/MTt3Y/MAD8V8MTt3Y/1/t.png?response-expires=Sat%2C%2023%20May%202020%2009%3A38%3A35%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200523T065838Z&X-Amz-SignedHeaders=host&X-Amz-Expires=9596&X-Amz-Credential=AKIAJJATJK7JCUD446NA%2F20200523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=81054f68b54bbc5b2e838a381727fb8d8874b4d6757faa0995d4368463771e12">
          <span class="example-text">Пример ввода дано: △ ABC, AB = 10, BC = 5, ∠B = 30, Ac C = ?</span>
        </div>
        <div class="textarea-block">
          <textarea class="textarea" placeholder="Введите дано..."></textarea>
        </div>
        <div class="solution-buttons">
          <div class="signs">
            <div class="sign-item">√ </div>
            <div class="sign-item">∠ </div>
            <div class="sign-item">⊥ </div>
            <div class="sign-item">∪ </div>
            <div class="sign-item">∩ </div>
            <div class="sign-item">| | </div>
            <div class="sign-item">□ </div>
            <div class="sign-item">△ </div>
            <div class="sign-item">○</div>
          </div>
          <button class="solution-btn">Решить</button>
        </div>
      </div>
      <div class="solution-text-block">
        Тут текст про описание работы
      </div>
    </div>
    <div class="output-text">
      <!-- <div class="output-info">
        <img class="info" src="https://media-private.canva.com/MTt3Y/MAD8V8MTt3Y/1/t.png?response-expires=Sat%2C%2023%20May%202020%2009%3A38%3A35%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200523T065838Z&X-Amz-SignedHeaders=host&X-Amz-Expires=9596&X-Amz-Credential=AKIAJJATJK7JCUD446NA%2F20200523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=81054f68b54bbc5b2e838a381727fb8d8874b4d6757faa0995d4368463771e12">
        <span class="popper">Какая-то подстказка</span>
      </div> -->
      <div class="output-answer"></div>
    </div>
    </div>
  </section>
  <footer class="footer">
    <div class="footer-line"></div>
    <div class="container">
      <div class="footer-text">ТУСУР</div>
    </div>
  </footer>
</body>
</html>






